@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-toastify/ReactToastify.min.css";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --dimmed-zIndex: 100;
  --bottomSheet-zIndex: 101;
  --toastify-color-light: #000000cc;
  --toastify-text-color-light: #ffffff;
  --toastify-text-color-dark: #ffffff;
  --toastify-toast-bd-radius: 40px;
  --toastify-toast-min-height: 44px;
  --toastify-toast-width: none;
  --toastify-icon-color-success: #6795fa;
  --toastify-font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.ptr__children {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper-slide img.slide-img {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  bottom: 32px !important;
  padding-right: 24px !important;
  text-align: right !important;
  color: #979797 !important;
  font-weight: 500;
  line-height: 20px;
}

.swiper-pagination-current {
  color: white;
  font-weight: 500;
  line-height: 20px;
}

.swiper-pagination-total {
  color: #979797;
  font-weight: 500;
  line-height: 20px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 28px !important;
  left: 0;
  right: 0;
  width: 100%;
}
.swiper-pagination-bullets {
  height: fit-content;
  margin: 0 auto;
  text-align: center !important;
  padding-right: 0 !important;
}

.swiper-pagination-bullet {
  background: #aeaeae !important;
}

.swiper-pagination-bullet-active.swiper-pagination-bullet {
  background: #0a0a0a !important;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container--top-center,
  .Toastify__toast-container--top-left,
  .Toastify__toast-container--top-right {
    margin-top: 31px !important;
    /* transform: translateX(0) !important; */
    width: 100% !important;
  }
  .Toastify__toast-container {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Toastify__toast {
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content !important;
    border-radius: 40px;
  }
}

@layer utilities {
  .translate-y-full {
    transform: translateY(100%);
  }
}

#filter {
  z-index: 30;
}

.react-select__placeholder {
  color: "#0A0A0At" !important;
}

.react-select__indicator-separator {
  display: none;
}

.react-select__input {
  font-size: 16px !important;
}

body {
  height: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #fff !important;
}

#__daum__layer_1 {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.invitation-toast {
  width: 350px;
  display: flex;
  align-items: center;
  background-color: #0a0a0a;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  border-radius: 10px !important;
}

.invitation-toast-body > div:first-child {
  width: 20px !important;
  margin-inline-end: 6px !important;
}
.invitation-toast-body > div > svg {
  width: 20px !important;
  height: 20px !important;
}

.Toastify__toast-icon {
  margin-inline-end: 8px;
}
.Toastify__toast-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: calc(14px * -0.03);
  margin: 0;
  padding: 0;
}
.Toastify__toast-icon {
  width: 20px;
  flex-shrink: 1;
}
.Toastify__toast-body > div {
  align-items: center;
}
.Toastify__toast-body > div:first-child {
  margin-inline-end: 8px;
}
.Toastify__toast-body > div:last-child {
  flex: none;
}

.Toastify__toast-body > div > svg {
  width: 24px;
  height: 24px;
}

.Toastify__toast {
  width: 100%;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes selectMenuBounce {
  0% {
    opacity: 0;
    transform: translateY(-6px);
  }
  70% {
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
